[influxdb]
server = 10.1.1.1
port = 8086
user = 
passwd = 
database = tengine

[cmdb]
pubapi = http://cmdb.xxx.cn/api/public.php
linkapi = http://cmdb.xxx.cn/api/link.php?hide_Url=Url&hide_BusinessProcess=BusinessProcess&hide_Team=Team

[grafana]
url = http://monitor.xxx.cn
key = keyssssssss

[msg]
smiles = /微笑,/得意,/睡,/呲牙,/酷,/闪电,/doge,/可怜,/眨眼
pre = 可以使用以下指令,支持以下命令,我只能看懂以下指令,需要什么帮助?,提供以下指令
help = [qqbot]提供以下指令:\n1) st cluster app 查询app最近0.5小时监控图表\n2) dp cluster app 重部cluster上的app\n3) c ip 磁盘清理\n4) o app 查询app联系人\nQQ群里需要先@我再发指令，加我为好友后直接发送指令
cluster = 【集群】可输入完整集群名称，也可以简写：\nn = newtv\nc = cn-cibn\no = online\nof = cn-offline\nhk = hkonline\nus = global\nop = op
app = 【APP】完整app包含app名称和监听端口，如 ota.8080， 端口为8080的可以不写端口，非8080端口需要明确写出端口，无端口的以 . 结尾，例如op集群的cmdb 需要写成 cmdb.
dp = 【APP重部指令】dp cluster app\n次指令适用于以下场景：\n    1) NGinx-Upstream: xxx Member异常类报警\n    2) 某些APP重部之后可以解决5XX报警\n建议操作前先用st cluster app指令获取APP监控图表，操作之后等待2~5分钟再次st cluster app指令获取APP监控图表，前后对比确认是否解决问题


[mail]
api = http://localhost:3001/api/attachmail
server = smtp.xxx.cn:25
user = report@xxx.com
passwd = abcefj

[log]
err = /tmp/qqbot.log

[web]
url = http://11.1.1.1/get.php
dir = /wwwroot/qqbot-img

[app]
cluster = n=newtv,c=cn-cibn,o=online,of=cn-offline,hk=hkonline,us=global
mpaasupdate = /opt/tools/update_task.task
superadmin = 邮箱,邮箱

[qqbot]
; 管理员，有重启和停机的权限
admin = 邮箱,邮箱

[command]
zbxtr = /root/opsbot/grafana_image.sh zbx
